<div class='error'>
    <h1>Error 404: Not Found</h1>
    <p class='text-link'>We hebben de pagina niet gevonden. Je kan terug naar <a href='/' class='link-profile'>de homepage</a> gaan om nieuwe gebruikers te vinden!</p>
</div>