<header>
    <nav>
        <!-- Hamburger menu -->
        <a class='hamburger-menu'>
            <span></span>
        </a>

        <!-- Primary Navigation -->
        <ul>
            <li><a href='/'>Home</a></li>
        </ul>

         <!-- Overlay for mobile navigation -->
        <div class='overlay'></div>
        <div class='outside'></div>
    </nav>
</header>