<nav>
    <!-- Primary Navigation -->
    <ul>
        <li><a href='/'><span class="material-icons">home</span>Home</a></li>
        <li><a href='/explore'><span class="material-icons">explore</span>Ontdek</a></li>
        <li><a href='/search'><span class="material-icons">search</span>Zoek</a></li>
        <li><a href='/profile'><span class="material-icons">person</span>Profiel</a></li>
    </ul>
</nav>
