{% extends "layouts/layout.njk" %}
{% block title %}
  Error / Konnect
{% endblock %}
{% block content %}
    <header>
        {% include "partials/header.njk" %}
    </header>
    <section>
        {% include "partials/404.njk" %}
    </section>
{% endblock %}