{% extends "layouts/layout.njk" %}
{% block content %}
  <header class='home-header'>
    <p>Welkom terug, {{profile.name}}</p>
    <a href='/profile'>
      <img src={{profile.avatar}}>
    </a>
  </header>

  <!-- Recommended users -->
  {% if recommendedUsers.length > 0 %}
    <section class='show-users'>
      <h1>Aanbevolen voor jou</h1>
      <ul class='user-list'>
        {% for recommendedUser in recommendedUsers %}
          <!-- User Card -->
          <li>
            <a href='/profiles/{{recommendedUser._id}}'>
              <img src={{recommendedUser.avatar.path}}>
              <h3>{{recommendedUser.name}}</h3>
              <p>{{recommendedUser.description}}</p>

              <!-- List of games -->
              <ul>
                <li>{{recommendedUser.category}}</li>
              </ul>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}