{% extends "layouts/layout.njk" %}
{% block title %}
  Home / Konnect
{% endblock %}
{% block content %}
  <header class='home-header'>
    <div>
      <div>
        <p>Welkom terug, {{myUser.name}}</p>
        <a href='/profile'>
          <img src='/uploads/{{myUser.avatar}}'>
        </a>
      </div>
      {% include "partials/header.njk" %}
    </div>
  </header>

  <!-- Recommended users -->
  <section class='show-users'>
    {% if result.length > 0 %}
      <h1>Aanbevolen voor jou</h1>
      <ul class='user-list'>
        {% for user in result %}
          <!-- User Card -->
          <li>
            <a href='/profiles/{{user._id}}'>
              <img src={{user.avatar}}>
              <h3>{{user.name}}</h3>
              <p>{{user.description}}</p>

              <!-- Category -->
              <ul>
                <li>{{user.category}}</li>
              </ul>
            </a>
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <h1>Geen aanbevolen gebruikers</h1>
      <p class='text-link'>Pas <a href='/profile' class='link-profile'>je profiel instellingen</a> aan om nieuwe gebruikers te vinden!</p>
    {% endif %}
  </section>
{% endblock %}