{% extends "layouts/layout.njk" %}
{% block content %}
  <header class='home-header'>
    <div>
      <div>
        <p>Welkom terug, {{profile.name}}</p>
        <a href='/profile'>
          <img src={{profile.avatar}}>
        </a>
      </div>
      {% include "partials/header.njk" %}
    </div>
  </header>

  <!-- Recommended users -->
  <section class='show-users'>
    {% if recommendedUsers.length > 0 %}
      <h1>Aanbevolen voor jou</h1>
      <ul class='user-list'>
        {% for recommendedUser in recommendedUsers %}
          <!-- User Card -->
          <li>
            <a href='/profiles/{{recommendedUser._id}}'>
              <img src={{recommendedUser.avatar.path}}>
              <h3>{{recommendedUser.name}}</h3>
              <p>{{recommendedUser.description}}</p>

              <!-- Category -->
              <ul>
                <li>{{recommendedUser.category}}</li>
              </ul>
            </a>
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <h1>Geen aanbevolen gebruikers</h1>
      <p>Pas <a href='/profile-settings' class='link-profile'>je profiel instellingen</a> aan om nieuwe gebruikers te vinden!</p>
    {% endif %}
  </section>
{% endblock %}