{% extends "layouts/layout.njk" %}
{% block content %}
  <header class='profile-header'>
    <a href='/profile'>
      <span class="material-icons">arrow_back</span></a>
    <h1>{{result.name}}</h1>
  </header>

  <section class='profile-body'>
    <img src={{result.banner.path}}>
    <div>
      <img src={{result.avatar.path}}>
      <a href='/profile-settings'>Profiel bewerken</a>
    </div>
    <h2>{{result.name}}
      <span>@{{result._id}}</span></h2>
    <p class='description'>{{result.description}}</p>
  </header>
{% endblock %}