// Variables
// Colors
$gray: #7C8183;

$dark-gray: #313337;
$darkest-gray: #212121;

$light-gray: #7C8183;
$lightest-gray: #E8EAED;

// Margins
$margin: 1em;

$margin-big: 1.5em;
$margin-bigger: 2em;
$margin-biggest: 3em;

$margin-small: 0.75em;
$margin-smaller: 0.5em;
$margin-smallest: 0.25em;

// Paddings
$padding: 1em;

$padding-big: 1.5em;
$padding-bigger: 2em;
$padding-biggest: 3em;

$padding-small: 0.75em;
$padding-smaller: 0.5em;
$padding-smallest: 0.25em;

// Z-index
body, main, header, footer {
    z-index: 10;
}

// Default CSS
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-decoration: none;
    list-style: none;
}
  