// Imports
@import "../1-settings/_variables.scss";

// Default CSS
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

img {
    object-fit: cover;
}

// Default padding for offset mobile navigation
body {
    padding-bottom: 4rem;
}

// Phone Size
// Standard padding left and right
body > header,
body > main section,
body > main header,
body > main footer,
body > footer {
  padding: 0 $padding;
}

main {
    position: relative;
}

textarea#description {
    min-height: 5rem;
}

main header div.parent-top-navigation {
    display: none;
}

header.profile-header {    
    &>div:first-of-type {
      display: flex;
      align-items: center;
    }
  }