// Variables
// Colors
$white: #FEFFFF;
$black: #050F19;
$grey: #949FA8;
$lightgrey: #f5f5f5;
$blue: #1552EF;
$green: #15ef86;
$orange: #efce15;
$red: #ef2b15;

// Margins
$margin: 1rem;

$margin-big: 1.5rem;
$margin-bigger: 2rem;
$margin-biggest: 3rem;

$margin-small: 0.75rem;
$margin-smaller: 0.5rem;
$margin-smallest: 0.25rem;

// Paddings
$padding: 1rem;

$padding-big: 1.5rem;
$padding-bigger: 2rem;
$padding-biggest: 3rem;

$padding-small: 0.75rem;
$padding-smaller: 0.5rem;
$padding-smallest: 0.25rem;

// Default padding for offset mobile navigation
body {
    padding-bottom: 4rem;
}

// Default CSS
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

img {
    object-fit: cover;
}